:root {
  --green: #4BD862;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.todo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.todo:not(:last-child) {
  margin-bottom: 24px;
}

.todo-cb {
  flex: 0 0 auto;
  position: relative;
}

.todo-cb::before {
  width: 16px;
  height: 16px;
  content: '';
  position: relative;
  top: 0;
  left: 0;
  margin-top: 2px;
  border: 2px solid var(--green);
  display: block;
  border-radius: 50%;
}

.todo--done .todo-cb::before {
  background-color: var(--green);
}

.todo-cb__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  margin: 4px 0 0 0;
  opacity: 0;
  cursor: pointer;
}

.todo-info {
  flex: 1 1 auto;
  padding-left: 8px;
}

.todo-info__title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.45;
}

.todo-info__desc {
  margin: 0;
  line-height: 1.45;
}

.todo--done .todo-info__title,
.todo--done .todo-info__desc {
  text-decoration: line-through;
}

.todos {
  margin-top: 24px;
}